<p>As a user of Steemit, you have a limited chance to buy PODS for three days before the Token Sale (ICO) of SportsPodium Starts. We will give a massive discount on the value of these tokens to the Steem community, but we will limit the tokens available to $500 000 of value in Steem. This we do to be fair to the broader crypto community.</p>
